# LLM endpoint configs, using Ollama cloud as an example
# API key is injected as a secret in compose.yaml from the host environment variable OLLAMA_API_KEY
LLM_BASE_URL="https://ollama.com/v1"

# AWS configs for working with DynamoDB local
# Consumed by aioboto3 SDK, pointing to the DynamoDB local container
AWS_ENDPOINT_URL="http://dynamodb-local:8000"
# Required by compose.yaml for creating DynamoDB tables
DYNAMODB_CONVERSATIONS_TABLE="conversations"
DYNAMODB_MESSAGES_TABLE="messages"
# Dummy AWS configs, not required if you have configured at ~/.aws
AWS_DEFAULT_REGION="not-on-earth"
AWS_ACCESS_KEY_ID="NotAnAccessKeyId"
AWS_SECRET_ACCESS_KEY="not+a+secret+access+key"

# Nginx config for routing requests to backend
BACKEND_URL="http://backend/"