# LLM endpoint configs, using Ollama cloud as an example
# Will be injected into OpenAI SDK as base_url and api_key, respectively
LLM_BASE_URL="https://ollama.com/v1"
LLM_API_KEY=your_ollama_api_key

# AWS configs for working with DynamoDB local
# Consumed by aioboto3 SDK, pointing to the DynamoDB local container
AWS_ENDPOINT_URL="http://localhost:8000"
# Required by compose.yaml for creating DynamoDB tables
DYNAMODB_CONVERSATIONS_TABLE="conversations"
DYNAMODB_MESSAGES_TABLE="messages"
DYNAMODB_ENDPOINT="http://dynamodb-local:8000"
# Dummy AWS configs, not required if you have configured at ~/.aws
AWS_DEFAULT_REGION="not-on-earth"
AWS_ACCESS_KEY_ID="NotAnAccessKeyId"
AWS_SECRET_ACCESS_KEY="not+a+secret+access+key"